.datebox-calendar-inner {
  height: 180px;
}

.datebox-button {
  height: 18px;
  padding: 4px 5px;
  text-align: center;
  background-color: #F4F4F4;
  border-top: #D4D4D4 solid 1px; 
}

.datebox-button a {
  font-weight: 700;
  text-decoration: none;
  opacity: .6;
  filter: alpha(opacity=60);
  color: #444;
}

.datebox-button a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.datebox-current {
  float: left;
}

.datebox-close {
  float: right;
}

.datebox .combo-arrow-icon {
  background-image: url(../images/datebox_arrow.png);
  background-position: center center;
  border: none;
  width: 16px !important;
  height: 16px !important;
  margin-left: -8px;
  margin-top: -8px;
}
