<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>No collapsible button in Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../_icon.css">
	<link rel="stylesheet" type="text/css" href="../_demo.css">
	<script type="text/javascript" src="../_libs/seajs/seajs/2.2.1/sea.js"></script>
	<script type="text/javascript" src="../_libs/seajs/seajs-style/1.0.2/seajs-style.js"></script>
	<script type="text/javascript" src="../_libs/jquery.min.js"></script>
	<script type="text/javascript" src="../_libs/seajs-global-config.js"></script>
</head>
<body>
	<h2>No collapsible button in Layout</h2>
	<p>The layout region panel has no collapsible button.</p>
	<div style="margin:20px 0;"></div>
	<div class="jq-layout" style="width:700px;height:350px;">
		<div data-options="region:'north'" style="height:50px"></div>
		<div data-options="region:'south',split:true" style="height:50px;"></div>
		<div data-options="region:'east',split:true,title:'East',collapsible:false" style="width:250px;">
			<table id="tt" class="jq-propertygrid" data-options="
						url: 'propertygrid_data1.json',
						method: 'get',
						showGroup: true,
						fit: true,
						border: false
					">
			</table>
		</div>
		<div data-options="region:'center',title:'Main Title',iconCls:'icon-ok',href:'_content.html'" style="padding:10px">
		</div>
	</div>

</body>
</html>